td img {
  width:600px ;
}
.product-image {
  padding-left: 50px;
  padding-right: 40px;
}
.detail-card{
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(128, 128, 128, 0.356),0 4px 8px 0 rgba(128, 128, 128, 0.356);
  width: 600px;
}
table{
  margin-top: 30px;
}

p{
  margin-top: 8px;
}

.button-box{
  padding-left: 50px;
}
