
<div class="card" style="width: 70%;margin: auto; margin-top: 30px;">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="col"> Full Name :</th>
        <td scope="col"> {{sellerdata[0].name}}</td>
      </tr>
      <tr>
        <th scope="col"> E-mail   :</th>
        <td scope="col"> {{sellerdata[0].email}}</td>
      </tr>
      <tr>
        <th scope="col">Phone No.</th>
        <td scope="col">{{sellerdata[0].phoneno}}</td>
      </tr>
      <tr>
        <th scope="col">Aadhar No.</th>
        <td scope="col">{{sellerdata[0].Aadharno}}</td>
      </tr>
    </tbody>
  </table>
</div>
